@charset "UTF-8";

/* TABLE OF CONTENTS
    #BASE CONTENT
        #WEBFONTS & TYPOGRAPHY
        #TESTING
        #RESET
        #LOGO
        #HERO
        #ABOUT
------------*/

/* #TYPOGRAPHY  */
/* Reference
	62.5%  => 10px
	68.8%  => 11px
	75%    => 12px
	81.3%  => 13px
	87.5%  => 14px
	100%   => 16px
	112.5% => 18px
	125%   => 20px
*/

/* WEBFONTS & TYPOGRAPHY */

@font-face {
    font-family: cambay;
    font-family: nerko one;
    src: url("https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Nerko+One&display=swap");
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }  

.cambay-regular {
    font-family: "Cambay", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cambay-bold {
    font-family: "Cambay", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cambay-regular-italic {
    font-family: "Cambay", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cambay-bold-italic {
    font-family: "Cambay", sans-serif;
    font-weight: 700;
    font-style: italic;
  }  

  body {
    font-family: "Cambay", sans-serif;
    color: #333;
    font-size: 87.5%;
    line-height: 1.5;
    display: flex;
    flex-flow: column;
    margin: 0 0 0 0;
    background-color: #FBE4B6;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Nerko One, Arial, Helvetica, sans-serif ;
    margin: 0.5em 0;
}

h1 {
    font-size: 3em;
    line-height: 1;
}

h2 {
    font-size: 2.25em;
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2;
}

h4 {
    font-family: "Cambay", sans-serif;
    font-size: 1.3125em;
    line-height: 1.3;
}

h5 {
    font-size: 1.125em;
    line-height: 1.4;
}

p {
    margin: 0 0 0em 0;
    max-width: 38em;
}

/* -------- !! TESTING --------- */
* {
    /* border: dashed red 1px; */
}
/* -----------------------------*/


/* GLOBAL RESET */

* {
    box-sizing: border-box;
}

/* ----------- LOGO ------------*/
.logo {
    max-width: 30em;
    margin: 1em auto;
    text-align: center;
}

/* -------------HERO -------------*/
.hero {
    text-align: center;
    padding: 3em 1em;
}

.arrow {
    text-align: center;
}

.hero h1 {
    font-size: 6em;
    line-height: 1;
    text-transform: uppercase;
}

.hero p {
    max-width: 35%;
    margin: 1em auto;
    font-weight: 700;
}

/* -------------- ABOUT ------------*/
.about {
    background-color: #933E00;
    padding: 0 0 2em 0;
    margin: 0;
}

.about .heading {
    text-align: center;
    padding: 2em 0 2em 0;
}

.about h2,
.about h3 {
    color: #F8E2B7;
}

.what, .start {
    /* background-color: white ; */
    margin: 0 auto 1.5em auto;
    max-width: 50em;
    display: flex;
    direction: ltr;
    height: auto;
}

.start {
    direction: rtl;
}

.what .col-1 {
    margin: 0 1.5em 0 0;
}

.start .col-1 {
    margin: 0 0 0 1.5em
}

.about h3 {
    margin: 0;
    text-align: left;
    padding: 0 0 1em 0;
    /* background-color: rgba(0, 0, 0, .15); */
}

.about p {
    /* background-color: rgba(0, 0, 0, .25); */
    text-align: left;
    color: white;
}

/* -------------- MENU --------------- */

.menu {
    background-color: #602A02;
    color: white;
    margin: 0;
    text-align: center;
    /* border: dashed red 1px; */

}

.menu h2,
.menu h3 {
    color: #F8E2B7;
}

.menu-container {
    /* background-color: darkred; */
    margin: 1.5em;
    height: fit-content;
}

.menu-module{
    display: flex;
    flex-direction: row;
    padding: .5em;
    /* background-color: beige; */
    /* height: auto; */
    border: dashed red 1px;
    margin: 1em auto 0 auto;
    justify-items: right;
}

.classico .item,
.choco .item {
    /* border: white solid 1px; */
}


.menu-module.classico {
    max-width: 30em;
    margin: 0 20em 4em auto;
}

.menu-module.choco {
    max-width: 50em;
}

.menuitem {
    text-align: left;
    /* background-color: #933E00;*/
    /* border: dashed blue 1px; */
    align-content: end;
}

.menuitem.choco {
    /* display: none; */
}

.item {
    /* background: black; */
    font-size: 16px;
    margin-bottom: 2em;
}

.item-img {
    background-color: transparent;
}

.menuitem.classico {
    /* display: none; */
    width: 50%;
}

.item-img.classico {
    /* display: none; */
    width: 50%;
}

.item-img.choco {
    /* display: none; */
}

.menuitem.choco .item {
   
}

.calprice {
    display: flex;
    justify-content: space-between;
}

.menu-module.classico .calprice {
    /* border: white solid 1px; */
    padding: 0 2.5em 0 0;
}

/* --------MAP ------- */


.map h2 {
    color: #933E00;
    text-align: center;
    margin: 1.5em;
}

.map-container {
    display: flex;
    width: fit-content;
    margin: 0 auto 1.5em auto;
}
    
.col-1 {
    margin: 0 1.5em 0 0;
}